{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 120,
    "singleQuote": false,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": [
                "**/*.tsx",
                "**/*.ts",
                "**/*.scss"
            ]
        }
    ]
}
