version: '3.3'
services:
  frontend:
    build: 
      context: ./frontend
    container_name: frontend_neuro_trello
    networks:
      - labnet
    ports:
      - 80:80
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: backend_neuro_trello
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /app/prisma/migrations
      - /app/build
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - labnet
    ports:
      - 3500:3500
networks:
  labnet:
