.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    background: #f7d794;
}
.menu > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}
button{
    border-radius: 10px;
    cursor: pointer;
    border:none;
}
.menu > div > button{
    width: 5em;
    height: 3em;
}

.desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f7d794;
    width: auto;
    overflow-x: auto;
    margin: 5px;
    height: 75vh;
    padding-bottom: 2em;
    scrollbar-width: thin;
    scrollbar-color: #d3b168 #c0a15e;
}
  
#newCat{
    border-radius: 10px;
    width: 4em;
    height: 2em;
    background: #f19066;

}
.card {
    border-radius: 10px;
    background: white;
    margin: 4px;
    padding: 4px;
    min-width: 15vw;
    max-width: 15vw;
    min-height: 10vh;
    height: fit-content;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: none;
}
.cardHeader{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.card > h2{    
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.editCardButton{
    width: 2em;
    height: 2em;
    background: none;
    border: none;
    filter: opacity(.4);
}

.editCardButton > img{
    width: 1em;
    height: 1em;
}
.card:hover .editCardButton {
    filter: opacity(1);
}
.editTaskButton{
    width: 2em;
    height: 2em;
    background: none;
    border: none;
    filter: opacity(0);
}

.editTaskButton > img{
    width: 1em;
    height: 1em;
}
.createTask{
    width: 100%;
    padding: 1em 0;
    background: none;
    border: 2px solid rgba(0,0,0,0.15);
    margin: 1em 0;
}
.taskCard{
    display: flex;
    flex-direction: row;
    border-bottom: 2px rgba(0,0,0,0.15) solid ;
    padding: 1em;
    width: 100%;
    justify-content: space-between;
    cursor: grab;
}
.task{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.taskCard:hover .editTaskButton{
    filter: opacity(1);
}
