.homePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f19066;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 10px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    height: 25vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
}

.homePage:hover {
    padding: 4rem;
    box-shadow: 20px 18px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background-color: #f3a683;
}

.homePage > h1 {
    margin-bottom: 1rem;
}

.homePage > a {
    font-size: 1em;
}

