@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f5cd79;
}

.title {
    margin: 2rem 0;
    text-align: center;
    width: 100%;
}
    