@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #786fa6;
    font-size: 14px !important;
}
.title {
    margin: 2em 0 0;
    text-align: center;
    width: 100%;
}
